<div class="card bg-light mb-3" style="max-width: 35rem; margin-top: 1rem;">
    <div class="card-header">
        <h3>Generate your Game:</h3>
    </div>
    <div class="card-body">
        <select class="form-select form-select-lg mb-10" aria-label=".form-select-lg example" required [(ngModel)]="game.teamhome">
            <option disabled>Select a Team</option>
            <option *ngFor="let team of teams" 
                [value]="team.name">
                {{ team.name }}
            </option>
        </select>    
        <input type="number" [(ngModel)]="game.goalshome">
        <span class="badge badge-secondary">X</span>
        <input type="number" [(ngModel)]="game.goalsaway">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required [(ngModel)]="game.teamaway">
            <option disabled>Select a Team</option>
            <option *ngFor="let team of teams" 
                [value]="team.name">
                {{ team.name }}
            </option>
        </select>    
    </div>
    <div>
        <button arial-lable="Submit" class="btn btn-outline-primary" 
                data-toggle="tooltip" title="send the game to the database"
                (click)="submitGame()">Submit</button>
        <button class="btn btn-outline-dark" data-toggle="tooltip" title="generate a random placar">Random Generate</button>
    </div>
</div>