select{
    width: 40%;
    height: 100%;
}

input{
    width: 5%;
    margin: 8px;
    height: 10%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

button{
    margin-left: 1%; 
    margin-bottom: 1%;
}