<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
            (click)="menu.emit( {value: 'game'})">
          <a class="nav-link" href="#">game</a>
        </li>
        <li class="nav-item" 
            (click)="menu.emit( {value: 'table'} )">
          <a class="nav-link" href="#">table</a>
        </li>
      </ul>
    </div>
  </nav>