<app-menu (menu)="changeMenu($event)"></app-menu>
<div class="container" [ngSwitch]="activeClass">
    <app-game *ngSwitchDefault></app-game>
    <app-table *ngSwitchCase="'table'"></app-table>
</div>