<table class="table" style="margin-top: 1%;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">G</th>
        <th scope="col">V</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">F</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">P</th>
      </tr>
    </thead>
    <tbody *ngFor="let team of table, let i = index">
      <tr class="" [ngClass]="{
          'table-primary': i == 0,
          'table-danger': i > 7
        }">
        <th scope="row">{{ i+1 }}</th>
        <td><b>{{ team.team }}</b></td>
        <td>{{ team.won + team.draw + team.lost }}</td>
        <td>{{ team.won }}</td>
        <td>{{ team.draw }}</td>
        <td>{{ team.lost }}</td>
        <td>{{ team.goalsfor }}</td>
        <td>{{ team.goalsagainst }}</td>
        <td>{{ team.goalsfor - team.goalsagainst }}</td>
        <td>{{ team.won * 3 + team.draw }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <p style="font-size: 0.75rem">
        <b>*G = </b>games played; <b>*V = </b>victories; <b>*D = </b>draws; <b>*L = </b>losses; <b>*F = </b>goals for; <b>*A = </b>goals againts; <b>*B = </b>gols balance; <b>*P = </b>points
    </p>
  </div>

